jupyter-book
jupyter-cache
jupyter-sphinx
jupyter_client
jupyter_core
markupsafe
nbclient
nbconvert
nbdime
nbformat
nbmerge
nbsphinx
sphinx
sphinx_rtd_theme
sphinx-book-theme
sphinx-comments
sphinx-copybutton
sphinx-panels
sphinx-thebe
sphinx-togglebutton
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
myst-parser
myst-nb
sqlalchemy
psycopg2
geopandas